{% extends "master.html" %}

{% block title %}
  Temperature Chart for {{ selected_date.date|date:"M dS, Y" }}
{% endblock title %}

{% block content %}
  <main>
    <h1>Temperature Chart for {{ selected_date.date|date:"F dS, Y" }}</h1>
    <nav>
      <a href="{% url 'home' %}">Home</a>
    </nav>

    <aside>
      <ol>
        {% for date_log in date_logs %}
          <li>
            <a href="{% url 'temperatures' date_log.date.isoformat %}">{{ date_log.date }}</a>
          </li>
        {% endfor %}
      </ol>
    </aside>

    {% if readings %}
      <article>
        <div class="chart-container">
          <canvas id="myChart"></canvas>
        </div>
      </article>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'line',
        data: {
          labels: [
            {% for reading in readings  %}
              '{{ reading.time }}',
            {% endfor %}
          ],
          datasets: [{
            label: 'Temperature in Celsius (°C)',
            data: [
              {% for reading in readings  %}
                {{ reading.temperature }},
              {% endfor %}
            ],
            borderWidth: 2,
            borderColor: 'hsl(120, 60%, 45%)',
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: false
            }
          },
          responsive: true,
          maintainAspectRatio: false
        }
      });
      </script>
    {% else %}
      <p>There is no readings for this date at this moment.</p>
    {% endif %}
  </main>
{% endblock content %}
